* {
  font-family: sans-serif;
}

html {
  background-color: #14697c;
}

.header {
  margin-top: 20px;
  text-align: center;
}

.header h1 {
  font-size: 30px;
  font-family: "Dosis";
  color: white;
  font-weight: normal;
}

.visualizer-container {
  background-color: #113e53;
  padding: 10px;
}

.visualizer {
  width: 100%;
  background-color: #0b7189;
  height: 400px;
  position: relative;
}

.block {
  position: absolute;
  bottom: 0;
  background-color: #113e53;
  transition: 0s all ease;
}

label {
  display: none;
}
