* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #14697c;
}

body {
  display: grid;
}

header {
  background-color: #0b7189;
  margin: 10px;
  text-align: center;
  display: grid;
  border: 10px solid #113e53;
}

header h2 {
  grid-row: 1;
  height: 100px;
  line-height: 100px;
  font-size: 3rem;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: normal;
}

header h2:hover {
  color: #73fbd3;
  transition: 0.5s;
  transform: translateY(2px);
}

.visualizer {
  background-color: #0b7189;
  height: 400px;
  border: 10px solid #113e53;
  position: relative;
  margin: 0 10px;
}

.block {
  background-color: #113e53;
  position: absolute;
  bottom: 1px;
}

.options {
  background-color: #0b7189;
  margin: 10px;
  text-align: center;
  display: grid;
  border: 10px solid #113e53;
  height: 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.options button {
  width: 100px;
  height: 40px;
  margin: auto;
  background-color: #429d76;
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.options button:hover {
  background-color: #429d93;
  transform: translateY(2px);
  transition: 0.5s;
}

#start {
  grid-row: 1;
  grid-column: 1;
}

#reset {
  grid-row: 2;
  grid-column: 1;
}
