* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #14697c;
}

body {
  display: grid;
}

nav {
  display: grid;
  background-color: #113e53;
  margin: 10px;
  margin-bottom: 0;
  justify-self: center;
}

nav ul {
  display: grid;
  justify-self: center;
  list-style: none;
  margin-left: 10px;
}

nav li {
  display: flex;
  grid-row: 1;
  width: 80px;
  height: 80px;
  margin: 10px 10px 10px 0px;
  background-color: #0b7189;
}

nav li:hover {
  background-color: #429d93;
  transform: translateY(2px);
  transition: 0.5s;
}

nav li:nth-child(6) {
  display: none;
}

nav a {
  width: 80px;
  line-height: 80px;
  font-family: "Dosis", sans-serif;
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
}

header {
  background-color: #0b7189;
  margin: 10px;
  text-align: center;
  display: grid;
  border: 10px solid #113e53;
}

header h2 {
  grid-row: 1;
  height: 100px;
  line-height: 100px;
  font-size: 3rem;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: normal;
}

header h2:hover {
  color: #73fbd3;
  transition: 0.5s;
  transform: translateY(2px);
}

@media only screen and (max-width: 600px) {
  nav ul {
    grid-template-columns: 2;
    grid-template-rows: 3;
  }

  nav li:nth-child(1),
  nav li:nth-child(2),
  nav li:nth-child(3) {
    grid-row: 1;
    margin-bottom: 0;
  }

  nav li:nth-child(4),
  nav li:nth-child(5),
  nav li:nth-child(6) {
    grid-row: 2;
  }

  nav li:nth-child(6) {
    display: unset;
  }
}

/* ABOUT ME PAGE*/

#about-me {
  background-color: #113e53;
  text-align: center;
  border: 10px solid #113e53;
  margin: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

#about-me h2 {
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  margin-bottom: 7px;
  font-weight: normal;
}

#about-me:hover h2 {
  color: #73fbd3;
  transition: 0.5s;
  transform: translateY(2px);
}

#about-me #professional-about-me {
  grid-column: 1;
  align-self: flex-start;
}

#about-me #personal-about-me {
  grid-column: 2;
  align-self: flex-start;
}

article {
  background-color: #0b7189;
  padding: 0.25px;
}

#professional-content {
  margin-right: 10px;
}

#about-me p {
  font-family: "Dosis", sans-serif;
  margin: 10px;
  color: white;
}

section.image-section {
  border: 10px solid #113e53;
  height: 250px;
  margin: 10px;
  margin-bottom: 0px;
}

section.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
}

section.image-section img:hover {
  opacity: 0.8;
  transition: 0.5s;
}

#hobbies-section {
  display: grid;
  background-color: #113e53;
  margin: 10px;
  margin-bottom: 0;
}

#hobbies-section h2 {
  grid-row: 1;
  font-family: "Dosis", sans-serif;
  color: white;
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
}

#hobbies-section:hover h2 {
  color: #73fbd3;
  transition: 0.5s;
  transform: translateY(2px);
}

#hobbies-section ul {
  list-style: none;
  margin-bottom: 10px;
}

#hobbies-section li {
  background-color: #0b7189;
  margin: 10px 10px 0px 10px;
  height: 30px;
}

#hobbies-section p {
  margin-top: 5px;
  margin-left: 5px;
  font-family: "Dosis", sans-serif;
  color: white;
}

#hobbies-section div {
  background-color: #429d93;
  height: 100%;
}

#hobbies-section li:hover div {
  background-color: #4db4a8;
  transition: 0.5s;
}

#hobbies-section #hiking-scale {
  width: 90%;
}

#hobbies-section #mountain-biking-scale {
  width: 80%;
}

#hobbies-section #music-scale {
  width: 85%;
}

#hobbies-section #programming-scale {
  width: 95%;
}

#hobbies-section #electronics-scale {
  width: 83%;
}

#hobbies-section #maths-scale {
  width: 88%;
}

footer {
  display: grid;
  background-color: #113e53;
  margin: 10px;
  justify-self: center;
}

footer ul {
  display: grid;
  justify-self: center;
  list-style: none;
  margin-left: 10px;
}

footer li {
  display: flex;
  grid-row: 1;
  width: 80px;
  height: 80px;
  margin: 10px 10px 10px 0px;
  background-color: #0b7189;
}

footer li:hover {
  background-color: #429d93;
  transform: translateY(-2px);
  transition: 0.5s;
}

#email-li:hover img,
#phone-li:hover img {
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

#email-li:hover p,
#phone-li:hover p {
  opacity: 1;
  transition: 1s;
}

footer a {
  display: block;
  width: 80px;
  line-height: 80px;
}

footer img {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  position: absolute;
}

#email-image,
#phone-image {
  margin-top: 20px;
}

footer p {
  font-family: "Dosis", sans-serif;
  color: white;
  margin-left: 5px;
  margin-top: 31px;
  font-size: 0.9rem;
  opacity: 0;
}

#email-li p {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  #about-me #professional-about-me {
    grid-column: 1 / span 2;
  }

  #professional-content {
    margin-right: 0;
  }

  #about-me #personal-about-me {
    grid-column: 1 / span 2;
  }
}

/* EXPERIENCE PAGE */

#download-cv-section {
  display: grid;
  height: 50px;
  margin: 10px;
  margin-top: 0;
  background-color: #113e53;
}

#download-cv-section a {
  margin: auto;
  font-family: "Dosis", sans-serif;
  text-underline-offset: 4px;
  font-weight: bold;
  font-size: 1.25rem;
  color: #73fbd3;
  font-weight: normal;
}

#download-cv-section:hover a {
  transform: translateY(2px);
  transition: 0.5s;
}

#skills-section {
  display: grid;
  background-color: #113e53;
  height: 503px;
  margin: 0 10px;
}

#skills-section h2 {
  grid-row: 1;
  font-family: "Dosis", sans-serif;
  color: white;
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
}

#skills-section:hover h2 {
  color: #73fbd3;
  transition: 0.5s;
  transform: translateY(2px);
}

#skills-section ul {
  list-style: none;
}

#skills-section li {
  background-color: #0b7189;
  margin: 10px 10px 0px 10px;
  height: 30px;
}

#skills-section p {
  margin-top: 5px;
  margin-left: 5px;
  font-family: "Dosis", sans-serif;
  color: white;
}

#skills-section div {
  background-color: #429d93;
  height: 100%;
}

#skills-section li:hover div {
  background-color: #4db4a8;
  transition: 0.5s;
}

#skills-section #organization-scale {
  width: 93%;
}

#skills-section #problem-solving-scale {
  width: 86%;
}

#skills-section #resilience-scale {
  width: 88%;
}

#skills-section #communication-scale {
  width: 82%;
}

#skills-section #learning-and-adaptability-scale {
  width: 92%;
}

#skills-section #python-scale {
  width: 90%;
}

#skills-section #html-scale {
  width: 83%;
}

#skills-section #css-scale {
  width: 81%;
}

#skills-section #javascript-scale {
  width: 75%;
}

#skills-section #sql-scale {
  width: 88%;
}

#skills-section #googling-scale {
  width: 100%;
}

#experience-image-section {
  height: 200px;
  border: 10px solid #113e53;
  margin: 10px;
  margin-bottom: 0px;
}

#experience-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

#experience-image-section img:hover {
  opacity: 0.9;
  transition: 0.5s;
}

#work-experience-section {
  display: grid;
  background-color: #113e53;
  margin: 10px 10px 0px 10px;
}

#work-experience-section h2 {
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: normal;
}

#work-experience-section:hover h2 {
  color: #73fbd3;
  transition: 0.5s;
  transform: translateY(2px);
}

#work-experience-section ul {
  list-style: none;
  margin-bottom: 10px;
}

#work-experience-section li {
  background-color: #0b7189;
  margin: 0 10px;
  min-height: 30px;
}

#work-experience-section h3 {
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-left: 5px;
}

#work-experience-section h4 {
  color: white;
  font-weight: normal;
  font-family: "Dosis", sans-serif;
  margin-left: 5px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #73fbd3;
  text-decoration-thickness: 2px;
}

#work-experience-section p {
  color: white;
  font-family: "Dosis", sans-serif;
  padding: 5px;
}

#work-experience-image-section {
  height: 200px;
  border: 10px solid #113e53;
  margin: 10px;
  margin-bottom: 0px;
}

#work-experience-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

#work-experience-image-section img:hover {
  opacity: 0.9;
  transition: 0.5s;
}

#education-section {
  display: grid;
  background-color: #113e53;
  margin: 10px 10px 0px 10px;
}

#education-section h2 {
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: normal;
}

#education-section:hover h2 {
  color: #73fbd3;
  transition: 0.5s;
  transform: translateY(2px);
}

#education-section ul {
  list-style: none;
  margin-bottom: 10px;
}

#education-section li {
  background-color: #0b7189;
  margin: 0 10px;
  min-height: 30px;
}

#education-section h3 {
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-left: 5px;
}

#education-section h4 {
  color: white;
  font-weight: normal;
  font-family: "Dosis", sans-serif;
  margin-left: 5px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #73fbd3;
  text-decoration-thickness: 2px;
  padding-bottom: 5px;
}

#awards-section {
  display: grid;
  background-color: #113e53;
  margin: 10px 10px 0px 10px;
}

#awards-section h2 {
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: normal;
}

#awards-section:hover h2 {
  color: #73fbd3;
  transition: 0.5s;
  transform: translateY(2px);
}

#awards-section ul {
  list-style: none;
  margin-bottom: 10px;
}

#awards-section li {
  background-color: #0b7189;
  margin: 0 10px;
  min-height: 30px;
}

#awards-section h3 {
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-left: 5px;
}

#awards-section p {
  color: white;
  font-family: "Dosis", sans-serif;
  padding: 5px;
}

/* EDUCATION PAGE */
#gcse-results {
  display: grid;
  background-color: #113e53;
  margin: 0 10px 10px;
  padding-bottom: 10px;
}

#gcse-results h2 {
  grid-row: 1;
  font-family: "Dosis", sans-serif;
  color: white;
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
}

#gcse-results:hover h2 {
  color: #73fbd3;
  transition: 0.5s;
  transform: translateY(2px);
}

#gcse-results ul {
  list-style: none;
}

#gcse-results li {
  background-color: #0b7189;
  margin: 10px 10px 0px 10px;
  height: 30px;
  font-family: "Dosis", sans-serif;
  color: white;
  display: grid;
}

#gcse-results div {
  height: 100%;
  background-color: #429d93;
}

#gcse-results p {
  padding-left: 5px;
  align-self: center;
}

#gcse-results .nine-scale {
  width: 100%;
}

#gcse-results .eight-scale {
  width: 89%;
}

#gcse-results li:nth-child(10) {
  height: 55px;
  background-color: #0b7189;
}
/* PROJECTS PAGE */

#projects-info {
  background-color: #0b7189;
  border: 10px solid #113e53;
  margin: auto 10px auto 10px;
  min-height: 60px;
  padding: 5px;
}

#projects-info p {
  color: white;
  font-family: "Dosis", sans-serif;
  text-align: center;
}

#gallery {
  margin: 10px 10px 0px 10px;
}
#gallery ul {
  display: grid;
  list-style: none;
  background-color: #0b7189;
  border: 10px solid #113e53;
}

#gallery li {
  margin: 10px 10px 0 10px;
  background-color: #113e53;
  display: grid;
}

#gallery img {
  width: 200px;
  height: 200px;
  border: 10px solid #113e53;
  grid-column: 1;
  grid-row: 2;
  align-self: flex-start;
  border: 1px solid white;
  margin: 10px 0 10px 10px;
  filter: saturate(0%);
}

#gallery li:hover img {
  transition: 0.5s;
  filter: saturate(100%);
}

#gallery h2 {
  grid-column: 2;
  color: white;
  font-family: "Dosis", sans-serif;
  text-align: center;
  margin-top: 5px;
  font-weight: normal;
}

#gallery a {
  margin: auto;
  font-family: "Dosis", sans-serif;
  text-underline-offset: 4px;
  color: #73fbd3;
}

#gallery:hover a {
  transform: translateY(2px);
  transition: 0.5s;
}

#gallery figcaption {
  background-color: #113e53;
  font-family: "Dosis", sans-serif;
  padding: 5px;
  color: white;
  grid-column: 2;
  text-align: center;
  background-color: #0b7189;
  margin: 10px;
  display: table;
}

#gallery figcaption p {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

#gallery li:nth-child(1) {
  grid-row: 1;
}

#gallery li:nth-child(1):hover h2 {
  transition: 0.5s;
  transform: translateY(2px);
}

#gallery li:nth-child(2) {
  grid-row: 2;
}

#gallery li:nth-child(2):hover h2 {
  transition: 0.5s;
  transform: translateY(2px);
}

#gallery li:nth-child(3) {
  grid-row: 3;
  margin-bottom: 10px;
}

#gallery li:nth-child(3):hover h2 {
  transition: 0.5s;
  transform: translateY(2px);
}

@media only screen and (max-width: 600px) {
  #gallery h2,
  #gallery a {
    grid-column: 1 / span 2;
  }

  #gallery img {
    grid-column: 1 / span 2;
    margin: auto;
  }

  #gallery figcaption {
    grid-column: 1 / span 2;
  }
}

/* SAY HI PAGE */

#say-hi-page-description {
  color: white;
  font-family: "Dosis", sans-serif;
  border: 10px solid #113e53;
  margin: auto 10px auto 10px;
  padding: 4px;
  padding: 5px;
  min-height: 60px;
  background-color: #0b7189;
  text-align: center;
}

#say-hi-page-description p {
  margin-top: 4px;
}

#contact-form {
  background-color: #113e53;
  margin: 10px 10px 0 10px;
  border: 10px solid #164a63;
}

#contact-form form {
  display: grid;
  margin: 10px;
  padding: 20px;
}

#contact-form label,
#contact-form input,
#contact-form textarea,
#contact-form button {
  grid-column: 1;
  color: white;
  width: 400px;
  justify-self: center;
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  border-radius: 0;
}

#contact-form textarea,
#contact-form input {
  background-color: #429d93;
  border-width: 0px;
  margin-bottom: 10px;
  margin-top: 3px;
  outline: none;
  padding: 3px;
}

#contact-form textarea:focus,
#contact-form input:focus {
  border: 2px solid white;
  background-color: #4db4a8;
}

#contact-form textarea:hover,
#contact-form input:hover {
  background-color: #4db4a8;
}

#contact-form input {
  height: 40px;
}

#contact-form button {
  grid-column: 1;
  background-color: #0b7189;
  border-width: 0;
  height: 40px;
  margin-top: 5px;
}

#contact-form button:hover {
  background-color: #4db4a8;
  transform: translateY(2px);
  transition: 0.5s;
  cursor: pointer;
}

#contact-form textarea {
  resize: none;
}
